<div class="app">
  
  <div class="toolbar">
    <input type="file" (change)="loadJSON($event)" accept=".json" />
    <label>Color de fondo:</label>
<input type="color" (input)="onColorChange($event)" [value]="backgroundColor">



    <button (click)="exportAsImage()">Exportar Img</button>
    <button (click)="guardarEnBackend()">Guardar Bake</button>
    <button (click)="saveToJSON()">Guardar</button>
    <button (click)="addImageInCircle()">Agregar</button>
    <button (click)="addRect()">➕ Rectángulo</button>
    <button (click)="addCircle()">⚪ Círculo</button>
    <button (click)="addLine()">〰 Línea</button>
    <button (click)="addCurve()">🌊 Curva</button>
    <button (click)="addText()">🔤 Texto</button>
    
    


  </div>

 
  <div id="container"></div>